<vc-content-place id="ChattersSlider"></vc-content-place>


<section class="homepage__sub-hero items-3 text--center">
    <div class="row">
      <div class="small-12 column">
        
          <div class="sub-hero__button-container ib">
            <a class="a--reset button button--large button--black" href="https://chatters.ca/pages/chatters-flyer">
              Flyer
              
              <div class="rel">
                <div class="cta__image">
                    <img src="//cdn.shopify.com/s/files/1/1533/3199/files/Oct_Main_Flyer_Cover_Tile_copy_large.png?v=1633724094" alt="">
                </div>
              </div>
              
            </a>
          </div>
        
        
          <div class="sub-hero__button-container ib">
            <a class="a--reset button button--large button--black" href="https://chatters.ca/pages/covid-19">
              SALON SAFETY PROTOCOLS
            </a>
          </div>
        
        
          <div class="sub-hero__button-container ib">
            <a class="a--reset button button--large button--black" href="https://chatters.ca/pages/in-salon-services">
              Salon Services
            </a>
          </div>
        
      </div>
    </div>
  </section>



  <section class="section--border homepage__logos hide--small-down">
    <div class="row style--border">
      <div class="column small-12">
        <div class="text--center inner">
          
            
            
            
            
            
              <a class="a--reset logo__link" href="/collections/philosophy">
                <div class="brand__logo__wrapper">
                  
                  
                <img class="brand__logo ls-is-cached lazyloaded" data-src="//cdn.shopify.com/s/files/1/1533/3199/files/PhilosophyLogo_225_225x@2x.png?v=1620069348" alt="" src="//cdn.shopify.com/s/files/1/1533/3199/files/PhilosophyLogo_225_225x@2x.png?v=1620069348">
                </div>
              </a>
            
  
          
            
            
            
            
            
              <a class="a--reset logo__link" href="https://chatters.ca/collections/paul-mitchell">
                <div class="brand__logo__wrapper">
                  
                  
                <img class="brand__logo ls-is-cached lazyloaded" data-src="//cdn.shopify.com/s/files/1/1533/3199/files/img_paulmitchell-logo_33e68447-c0d1-48f2-b96c-7b018da2624e_225x@2x.png?v=1614694195" alt="" src="//cdn.shopify.com/s/files/1/1533/3199/files/img_paulmitchell-logo_33e68447-c0d1-48f2-b96c-7b018da2624e_225x@2x.png?v=1614694195">
                </div>
              </a>
            
  
          
            
            
            
            
            
              <a class="a--reset logo__link" href="https://chatters.ca/collections/moroccanoil">
                <div class="brand__logo__wrapper">
                  
                  
                <img class="brand__logo ls-is-cached lazyloaded" data-src="//cdn.shopify.com/s/files/1/1533/3199/files/img_moroccanoil-logo_highres_b829d22b-c481-4eaf-b9e5-442069640609_225x@2x.png?v=1614694225" alt="" src="//cdn.shopify.com/s/files/1/1533/3199/files/img_moroccanoil-logo_highres_b829d22b-c481-4eaf-b9e5-442069640609_225x@2x.png?v=1614694225">
                </div>
              </a>
            
  
          
            
            
            
            
            
              <a class="a--reset logo__link" href="https://chatters.ca/collections/redken">
                <div class="brand__logo__wrapper">
                  
                  
                <img class="brand__logo ls-is-cached lazyloaded" data-src="//cdn.shopify.com/s/files/1/1533/3199/files/img_redken-logo_NEW2021_060771d3-b90f-4552-a954-ae8b2d78d113_225x@2x.png?v=1631110567" alt="" src="//cdn.shopify.com/s/files/1/1533/3199/files/img_redken-logo_NEW2021_060771d3-b90f-4552-a954-ae8b2d78d113_225x@2x.png?v=1631110567">
                </div>
              </a>
            
  
          
            
            
            
            
            
              <a class="a--reset logo__link" href="https://chatters.ca/collections/ag-hair">
                <div class="brand__logo__wrapper">
                  
                  
                <img class="brand__logo ls-is-cached lazyloaded" data-src="//cdn.shopify.com/s/files/1/1533/3199/files/img_ag-hair-logo_845b0154-6d2f-4519-b696-e1a0681eba6c_225x@2x.png?v=1611855997" alt="AG Hair" src="//cdn.shopify.com/s/files/1/1533/3199/files/img_ag-hair-logo_845b0154-6d2f-4519-b696-e1a0681eba6c_225x@2x.png?v=1611855997">
                </div>
              </a>
            
  
          
            
            
            
            
            
              <a class="a--reset logo__link" href="https://chatters.ca/collections/joico">
                <div class="brand__logo__wrapper">
                  
                  
                <img class="brand__logo ls-is-cached lazyloaded" data-src="//cdn.shopify.com/s/files/1/1533/3199/files/img_joico-logo_highres_0d277592-81e1-46c8-8e9f-c8cb62b22a37_225x@2x.png?v=1614694255" alt="" src="//cdn.shopify.com/s/files/1/1533/3199/files/img_joico-logo_highres_0d277592-81e1-46c8-8e9f-c8cb62b22a37_225x@2x.png?v=1614694255">
                </div>
              </a>
            
  
          
  
          <a class="a--reset brands__view-all text--upper" href="/collections/brands">
            <span>view all</span>
            <i class="icon icon--caret-right"></i>
          </a>
        </div>
      </div>
    </div>
  </section>