
<section class="section--border homepage__feature-image-blocks">
    <div class="row row--thin">
      <div class="column small-12 medium-6 large-6">
        
          <a class="a--reset" href="https://chatters.ca/collections/loma-whats-hot">
            <span class="invisible">Chatters Hair Salon</span>
            <div class="feature-image__wrap">
              
                <div class="bg fill" style="background-image:">
                
                <img class="lazyautosizes lazyloaded" data-src="//cdn.shopify.com/s/files/1/1533/3199/files/LomaKits_FeatureImageBlock_1236x826-min_1024x@2x.png?v=1635771397" data-sizes="auto" alt="Chatters Hair Salon" sizes="612px" src="//cdn.shopify.com/s/files/1/1533/3199/files/LomaKits_FeatureImageBlock_1236x826-min_1024x@2x.png?v=1635771397"> 
                
               </div>
            </div>
          </a>
        
      </div>
      
      <div class="column small-12 medium-6 large-6">
        
          <a class="a--reset" href="https://chatters.ca/collections/men_redken">
            <span class="invisible">Chatters Hair Salon</span>
            <div class="feature-image__wrap">
              
                <div class="bg fill " style="background-image: ">
                <img class="lazyautosizes lazyloaded" data-src="//cdn.shopify.com/s/files/1/1533/3199/files/RedkenBrews_FeatureImageBlock_1236x826-min_1024x@2x.png?v=1635780558" data-sizes="auto" alt="Chatters Hair Salon" sizes="612px" src="//cdn.shopify.com/s/files/1/1533/3199/files/RedkenBrews_FeatureImageBlock_1236x826-min_1024x@2x.png?v=1635780558">  
              </div>
            </div>
          </a>
        
      </div>
    </div>
  </section>